* { 
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family : "Poppins", sans-serif;
}
body {
    background-color: #f0f0f0;
    background-image: url('https://getwallpapers.com/wallpaper/full/1/0/e/1510826-cool-hair-salon-wallpaper-2560x1600.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding:0;
    margin:0;

}

#render{
    padding: 50px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.appointment_cards{
    background-color: grey;
    background-image: url('https://png.pngtree.com/background/20211217/original/pngtree-background-elegant-black-with-gold-line-side-2-picture-image_1576336.jpg');
    background-position: center;
    background-size: cover;
     opacity: 80%;
    padding: 30px;
    color:white;
    font-size:15px;
    line-height: 25px;
}
.appointment_cards:hover{
    opacity: 100%;
}
button{
    margin-top: 10px;
    padding: 7px 35px 7px 35px;
    border: 0px solid;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(172, 103, 103);
}