
button{
    width: 300px;
    height: 40px;
    font-size: 19px;
    margin: auto;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    transition: .2s;
}
button:hover{
    transition: .2s;
    background-color: #e2e2e2;
    color: black;
}
.Time_Style_page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    /* background-image: url('../../images/hair3.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.time_1st{
    position: relative;
    min-height: 100vh;
}
.wid90{
    position: absolute;
    top: 70px;
    width: 90%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f2f2f2b4;
    padding: 40px 0px;
}


.inside_wid90{
    /* width: 100%; */
    display: grid;
    padding: 0px 110px;
    gap: 50px;
    /* row-gap: 70px; */
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
}
.barber_card{
    border: 1px solid;
    padding: 10px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 80%; */
}
.barber_img_div{
    max-height: 180px;
    overflow: hidden;
}
.barber_img_div img{
    width: 100%;
}
.barber_card p{
    margin: 5px 0px;
    font-size: 18px;
}
.barber_card button{
    width: 100%;
    margin: auto;
}


.white{
    /* background-color: #ffffff; */
    margin: auto;
    width: 95%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* margin: auto; */
}
.white div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
#Barber{
    width: 300px;
    height: 40px;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    outline: none;
}
#date{
    outline: none;
    color: rgb(43, 43, 43);
    width: 230px;
    height: 40px;
    font-size: 20px;
    padding: 0px 35px;
    font-weight: 600;
    margin: auto;
}
select{
    color: rgb(43, 43, 43);
    width: 300px;
    height: 42.5px;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 600;
    margin: auto;
    outline: none;
}
#dull{
    color: rgba(119, 119, 119, 0.877);
}
option{
    text-align: center;
    color: rgb(43, 43, 43);
}